body {
    font-family: Arial;
    background: #f4f4f4;
}


.container {
    width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
}


textarea {
    width: 100%;
    height: 100px;
}


button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.result {
    margin-top: 20px;
    background: #e8f5e9;
    padding: 10px;
}